#form {
    margin-bottom: 20px;
    display: none;
}

.form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.form-group label {
    width: 25%;
}

.form-group input, .form-group textarea {
    width: 75%;
}

.form-group input[type="submit"] {
    width: 100%;
}

table {
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: inherit;
    padding: .3rem;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    color: #fff;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(192,0,255,1) 100%);
    border-color: #32383e;
}